.custom{
    border: none; /* Green border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px; /* Some padding */
    font-size: 16px; /* Increase font size */
}
.btn{
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove borders */
    padding: 10px 20px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-size: 16px; /* Increase font size */
}